/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    /* position: fixed; Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: rgb(238, 15, 15);
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }




* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1:not(h1[text="Main"]) {
    color: SeaGreen;
  }

  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }


  .button {
    background-color: #4CAF50; /* Green, i should change it to a nicer color  */ 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  /* .make-pup{
    color: purple
  } */


